:root {
    --color-black: #0D243D;
    --color-white: #ffffff;
    --color-green: #39AD45;
    --color-orange: #FFA800;
    --color-red: #F93727;

    --text-color: var(--color-black);


    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;


    --button-return-width: 50px;
    --button-return-hight: 31px;
    --button-return-width: 178px;
    --button-return-hight: 30px;

    --button-display: inline-block;
    --button-padding: .5rem 1rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);


}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

.App {
    display: flex;
    justify-content: center;
}

.Container {
    background-color: var(--color-black);
    width: 60%;
    height: 100vh;
    border-radius: 20px;
    color: var(--color-white);
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.return {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    margin-top: 20px;

}

.text start {
    margin-top: 0px;

}

.text h3 {
    font-size: var(--font-size-large);
    margin-bottom: 10px;
    text-align: center;
}

.Cardbox {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--color-white);
    margin: 20px 10px;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 800px;
}

.Question {
    width: 90%;
    padding: 10px;
    font-size: var(--font-size-medium);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    max-height: 150px;
}

.fitQuestion {
    width: 90%;
    border: none;
    font-size: var(--font-size-small);
}

.text {
    text-align: center;
}

/* .Cardbox {
    background-color: var(--color-white);
    margin: 10px;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 800px;
} */


.inline {
    display: inline;
    margin-right: 5px;
}

.transparent {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
}

.text p.inline {
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    margin-bottom: 10px;
}

textarea.boxAnswer {
    width: 90%;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    height: 180px;
    line-height: var(--line-height-base);
    font-size: var(--font-size-small);
}

.boxAnswerContainer {
    width: 90%;
    padding: 10px;
    font-size: var(--font-size-medium);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    height: 150px;
    overflow-y: auto;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}


.save {
    width: max-content;
    height: max-content;
    border: none;
}

.H:hover {
    background-color: var(--color-black);
}

.nextCard {
    display: flexbox;
    justify-content: center;
    align-items: flex-end;
}


div.btns {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 100%;

}

button {
    padding: var(--button-padding);

    color: #ffffff;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

button.green {
    background-color: var(--color-green);
}

button.red {
    background-color: var(--color-red);
}

button.orange {
    background-color: var(--color-orange);
}

Link.edit {
    color: #ffffff;
    text-decoration: none;
}



.sharebutton {
    border-radius: 50%;
    margin: 10px 5px;
    width: 40px;
    height: 40px;
}

.btns button {
    width: 50%;
    height: 30px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

div.sharebtns-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}

.return button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.return img {
    display: block;
}